body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* background-color: white; */
    background-color: #393e46;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

a,
a button {
    cursor: pointer;
}

html {
    height: 100%;
    display: block;
    height: -webkit-fill-available;
}

header {
    text-align: left;
    color: white;
    /* color: white; */
    padding: 20% 0 20% 0;
    margin-left: 5%;
    margin-right: 5%;
    min-height: -webkit-fill-available;
    background-size: cover;
}

hr {
    width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(202, 202, 202, 0.877), rgba(255, 255, 255, 0));
}

.header-section {
    margin-top: auto;
    margin-bottom: auto;

}

p {
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Dosis', sans-serif; */
}


.about-section {
    /* background-color: white; */
    background-color: transparent;
    /* color: black; */
    color: white;
    height: 100%;
    height: 500px;
}

.about-title {
    text-align: center;
    padding: 25px;
    font-weight: 700;
}

.about-info {
    float: right;
}

.about-description {
    font-weight: 700;
    color: #86aba1;
}

#about-description {
    /* float: right; */
    margin-left: 50px;
}


.header-img {
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 30%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgb(114, 114, 114)), to(rgba(252, 252, 252, 0)));
      mask-image: linear-gradient(to bottom, rgb(90, 90, 90), rgba(224, 224, 224, 0));
    background-attachment: fixed;
}
@media only screen and (max-width: 600px) {
    .header-img {
      height: 100%;
    }
  }

.header-text {
    padding-top: auto;
    padding-bottom: auto;
    /* position: absolute;
    z-index: 0; */
}

.find-button {
    margin-top: 25px;
    min-width: 126px;
    border: 2px solid #70af85;;
    border-radius: 10px;
    background-color: transparent;;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    /* color: black; */
    color: white;
}

.find-button:hover {
    background-color: #70af85;
    transition: all 0.6s ease 0s;
}

.contact-button {
    margin-top: 25px;
    min-width: 126px;
    border: 2px solid #70af85;;
    border-radius: 10px;
    background-color: transparent;;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 25px;
}

.contact-button:hover {
    background-color: #70af85;
    transition: all 0.6s ease 0s;
}

.icons {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.icons:hover {
    color: white;
    text-shadow: 0 0 10px white;
}

.connect-p {
    font-size: 16px;
    margin-top: 55px;
    margin-left: 50px;
    margin-right: 50px;
}


a {
    text-decoration: none;
    color: white;
}

.arrow {
    width: 20px;
}

.header-h1 {
    padding-top: auto;
    padding-bottom: auto;
}

.header-p {
    padding-top: auto;
    padding-bottom: auto;
    font-size: 20px;
}

.name {
    color: #70af85;
    font-weight: bold;
}

footer {
    background-color: transparent;
    /* background-color: black; */
    position: relative;
    font-size: 13px;
    width: 100%;
    height: 100%;
    text-align: center;
    bottom: 0;
    padding-bottom: 50px;
    padding-top: 50px;
    color: white;
}

.emphasis {
    color: #c6ebc9;
    font-style: italic;
}


.profile-pic {
    border-radius: 10%;
    border: solid 1px #70af85;
    padding: 5px;
    /* box-shadow: 4px 4px 4px #70af85; */
    height: 250px;
    float: left;
    margin-left: 25%;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .profile-pic {
      float: none;
    }
    .about-description {
        float: none;
    }
  }

.about-description {
    float: right;
    text-align: left;
    width: 35%;
    margin-right: 10%;
    margin-left: 10%;
}
@media only screen and (max-width: 600px) {
    .about-description .about-details {
        float: none;
        text-align: center;
    }
  }
.about-details {
    float: right;
    text-align: left;
    width: 35%;
    margin-right: 10%;
    margin-left: 10%;
}