body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    /* width: 100%; */
    padding: 50px 50px 50px 50px;
    background-color: black;
}

header {
    background-attachment: fixed;
    text-align: left;
    color: white;
    /* padding-top: 50%; */
    height: 100%;
    padding: 20% 0 20% 0;
}

.header-text {
    padding-top: auto;
    padding-bottom: auto;
    
}

.find-button {
    margin-top: 25px;
    border: 2px solid #70af85;;
    border-radius: 10px;
    background-color: #70af85;;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.find-button:hover {
    background-color: transparent;
}

.header-h1 {
    padding-top: auto;
    padding-bottom: auto;
}

.header-p {
    padding-top: auto;
    padding-bottom: auto;
}

.name {
    color: #70af85;
    font-weight: bold;
}

footer {
    position: relative;
    font-size: 13px;
    width: 90%;
    height: 2.5rem;
    text-align: center;
    bottom: 0;
    padding-bottom: 15px;
    color: white;
}

.emphasis {
    color: #c6ebc9;
    font-style: italic;
}