body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: black;
    height: 100%;
    /* width: 100%; */
    /* padding: 0; */
}

html {
    height: 100%;
    display: block;
}

header {
    /* background-color: black;
    background-attachment: fixed; */
    text-align: left;
    color: white;
    padding: 20% 0 20% 0;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    /* height: 100vh; */
    min-height: -webkit-fill-available;
    background-size: cover;
}


.about-section {
    background-color: #86aba1;
    position: relative;
    color: white;
    min-height: 400px;
    max-height: 600px;
    /* background-size: cover; */
}

#about {
    height: 100%;
}

.about-title {
    text-align: center;
    padding: 25px;
    font-weight: 700;
}

.about-description {
    font-weight: 700;
}

#about-description {
    float: right;
    margin-left: 50px;
}

.header-img {
    position: absolute;
    top: 0;
    left: 0;
    /* height: auto; */
    display: inline;
    width: 100%;
    z-index: -1;
    opacity: 30%;
    background-size: cover;
}
@media only screen and (max-width: 600px) {
    .header-img {
      height: 100%;
    }
  }

.header-text {
    padding-top: auto;
    padding-bottom: auto;
    /* position: absolute;
    z-index: 0; */
}

.find-button {
    margin-top: 25px;
    border: 2px solid #70af85;;
    border-radius: 10px;
    background-color: transparent;;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.find-button:hover {
    background-color: #70af85;
}

.contact-button {
    margin-top: 25px;
    border: 2px solid #70af85;;
    border-radius: 10px;
    background-color: transparent;;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 25px;
}

.contact-button:hover {
    background-color: #70af85;
}

a {
    text-decoration: none;
    color: white;
}

.arrow {
    width: 20px;
}

.header-h1 {
    padding-top: auto;
    padding-bottom: auto;
}

.header-p {
    padding-top: auto;
    padding-bottom: auto;
    font-size: 20px;
}

.name {
    color: #70af85;
    font-weight: bold;
}

footer {
    background-color: black;
    position: relative;
    font-size: 13px;
    width: 100%;
    height: 100%;
    text-align: center;
    bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
}

.emphasis {
    color: #c6ebc9;
    font-style: italic;
}

.profile-pic {
    border-radius: 10%;
    padding: 1px black;
    box-shadow: 4px 4px 4px black;
    height: 250px;
    float: left;
    margin-left: 25%;
}

.about-description {
    /* float: right; */
    text-align: left;
    width: 35%;
    /* margin-right: 10%;
    margin-left: 10%; */
}
.about-details {
    /* float: right; */
    text-align: left;
    width: 35%;
    /* margin-right: 10%;
    margin-left: 10%; */
}