body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393e46;
    overflow-x: hidden;
    width: 100%;
}

* {
    box-sizing: border-box;
}

a,
a button {
    cursor: pointer;
}

a {
    font-weight: 900;
}

html {
    display: block;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
    transition-duration: 500ms
}

header {
    text-align: left;
    color: white;
    padding: 20% 0 20% 0;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    height: 100vh;
}

.header-section {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.section {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;
}

.container-div {
    margin-top: 25px;
}

hr {
    width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(202, 202, 202, 0.877), rgba(255, 255, 255, 0));
}

p {
    font-family: 'Raleway', sans-serif;
}

#about {
    display: inline-block;
    width: 100%;
    background-color: #222831;
    min-height: 500px;
    color: white;
}

#projects {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    min-height: 500px;
    color: white;
}

.about-pic-section {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;

    float: left;
    padding-left: 10%;
}

@media only screen and (max-width: 1440px) {
    .about-pic-section {
        padding-left: 5%;
    }
}

@media only screen and (max-width: 1025px) {
    .about-pic-section {
        position: relative;
        width: 100%;
        float: none;
        padding-left: 0;
        padding-right: 0;
    }
}

.left-pic-section {
    display: block;
    width: 50%;
    height: 100%;
    padding-top: 30px;
    float: right;
    padding-right: 10%;
}

@media only screen and (max-width: 1440px) {
    .left-pic-section {
        padding-right: 15%;
    }
}

@media only screen and (max-width: 1025px) {
    .left-pic-section {
        position: relative;
        width: 100%;
        float: none;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    text-align: center;
    font-weight: 700;
}

.about-information {
    display: block;
    float: right;
    text-align: left;
    width: 50%;
    padding-right: 10%;
    padding-left: 5%;
    padding-bottom: 50px;
}


.about-information-left {
    display: block;
    float: left;
    text-align: left;
    width: 50%;
    padding-left: 20%;
    padding-bottom: 25px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1025px) {
    .about-information {
        width: 100%;
        float: none;
        margin-right: auto;
        margin-left: auto;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;

    }
}

@media only screen and (max-width: 1025px) {
    .about-information-left {
        width: 100%;
        float: none;
        margin-right: auto;
        margin-left: auto;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 20px;
        text-align: center;

    }
}

.profile-pic {
    display: block;
    border-radius: 10px;
    border: solid 1px #70af85;
    padding: 5px;
    display: flex;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


@media only screen and (max-width: 1600px) {
    .profile-pic {
        height: 380px;
    }
}

@media only screen and (max-width: 1180px) {
    .profile-pic {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 250px;
    }
}

@media only screen and (max-width: 500px) {
    .profile-pic {
        width: 350px;
    }
}

.skills-pic {
    position: relative;
    /* border-radius: 10px;; */
    border: solid 1px #70af85;
    /* padding: 10px; */
    padding: 0;
    /* height: 350px; */
    height: 450px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
    transition: transform .25s, visibility .25s ease-in;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, 
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.skills-pic:hover {
    transition: transform .25s, visibility .25s ease-in;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media only screen and (max-width: 1025px) {
    .skills-pic {
        display: flex;
        margin-left: auto;
        margin-right: auto;
          height: 350px;
    }
}

.about-details {
    font-size: 17px;
}

.description {
    display: inline;
    font-weight: 700;
    color: #70af85;
    width: 100%;
}


.left-description {
    /* display: inline; */
    font-weight: 700;
    color: #70af85;
    width: 100%;
}

.header-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    width: inherit;
    min-width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 25%;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 114, 114)), to(rgba(252, 252, 252, 0)));
    mask-image: linear-gradient(to bottom, rgb(90, 90, 90), rgba(224, 224, 224, 0));
    background-attachment: fixed;
}

@media only screen and (max-width: 600px) {
    .header-img {
        height: 100%;
    }
}

.header-text {
    padding-top: auto;
    padding-bottom: auto;
}

.find-button {
    margin-top: 25px;
    min-width: 126px;
    border: 1px solid #70af85;
    ;
    border-radius: 10px;
    background-color: transparent;
    ;
    transition: all 0.5s ease 0s;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.find-button:hover {
    background-color: #70af85;
    transition: all 0.5s ease 0s;
    transition: transform .5s, visibility .5s ease-in;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.contact-button {
    margin-top: 25px;
    min-width: 126px;
    border: 1px solid #70af85;
    ;
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.5s ease 0s;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 25px;
}

.contact-button:hover {
    background-color: #70af85;
    transition: all 0.5s ease 0s;
    transition: transform .5s, visibility .5s ease-in;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.home-button {
    min-width: 100px;
    border: 0.5px solid white;
    ;
    border-radius: 10px;
    background-color: transparent;
    ;
    transition: all 0.5s ease 0s;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 25px;
}

.home-button:hover {
    background-color: white;
    transition: all 0.5s ease 0s;
    color: black;
    transition: transform .5s, visibility .5s ease-in;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.icons {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: 50px;
    transition: all 0.2s ease 0s;
}

.icons:hover {
    color: white;
    text-shadow: 0 0 10px white;
    transition: transform .25s, visibility .25s ease-in;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.connect-p {
    font-size: 17px;
    margin-left: 50px;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.arrow {
    width: 20px;
}

.header-h1 {
    padding-top: auto;
    padding-bottom: auto;
}

.header-p {
    padding-top: auto;
    padding-bottom: auto;
    font-size: 20px;
}

.name {
    color: #70af85;
    font-weight: bold;
}

.footer {
    /* background-color: #343940; */
    background-color: #222831;
    font-size: 13px;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.emphasis {
    color: #c6ebc9;
    font-style: italic;
}

.caveat {
    font-size: 15px;
}

.port-link {
    font-size: 15px;
    text-decoration: underline;
    transition: transform .25s, visibility .25s ease-in;
}

.port-link:hover {
    text-shadow: 0 0 10px white;
    transition: transform .25s, visibility .25s ease-in;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.tech-logo {
    width: 50px;
    display: inline-flexbox;
    margin: 10px 10px;
    /* margin-left: 5px; */
    margin-top: 10px;
}

/* new styling for list of tech */
li:before {
    content: '✓';
    padding-right: 5px;
    color: #70af85;;
  }

  li {
    list-style: none;
  }